<!DOCTYPE html>
<html>
    <head>
        <title>JobMon status</title>
        <link href="/assets/bootstrap.css" rel="stylesheet" type="text/css" media="screen" />
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="span12">
                    <h1>Log #{{.Id}}</h1>

                    <p><a href="/">Back to status page</a></p>

                    <pre>{{.Output}}</pre>

                    <p><a href="/">Back to status page</a></p>
                </div>
            </div>
        </div>
        <script src="/assets/jquery.min.js" type="text/javascript"></script>
        <script src="/assets/bootstrap.min.js" type="text/javascript"></script>
    </body>
</html>
